<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>How To use</title>
</head>
<body>
  <h1>How to use?</h1>
  <h2>choose a file using the "upload" file, the file should contain a receipt image with your perscriptions on it, potentially you may have items on your invoce are are not an elanco product however these items will be removed for you</h2>
</body>
</html>