<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Elanco Project: Main Page</title>
        <link href="/stylesheets/website.css" rel="stylesheet" type="text/css">

    </head>

    <body>
    <div id="container">

        <header>
            <h1>This is the title bar/area for the page</h1>
            <img src="/images/tempImage.png" alt="Temporary Image">
            <!-- Use the ../ prefix when accesing files, this goes back a step in the heirarchy so you can access the subfolder and get into the assets folder -->
        </header>

        <section>
            <h2>Main section of the body where the image upload and details will go</h2>
        </section>

        <section>
            <input type="file" name="inpFile" id="inpFile">
            <div class="image-preview" id="imagePreview">
                <img src="" alt="Image Preview" class="image-preview__image">
                <span class="image-preview__default-text">Image Preview</span>
            </div>
        </section>

        <section>
            <button type="button" id="table-button">CREATE A TABLE</button>
            <span id="tableBtnText">No table created, yet.</span>
        </section>

        <section id="tableHolder">
            <p>Tables will go below me!</p>
            <table id="receiptTable">
                <!-- This table is used to add and remove values from -->
            </table>
        </section>

        <section>
            <form>
                <input type="text" value="TEST!"></input>
            </form>
        </section>

        <footer>
            <h2>Footer section for contact details of Elanco and possible "how to use" section</h2>
        </footer>

    </div>
    </body>
    
    <script type="text/javascript" src="/javascript/index.js"></script>
    <script type="text/javascript" src="/javascript/JsonToTable.js"></script>

</html>