<!doctype html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Elanco Project: Main Page</title>
        <meta name="viewport" content="width=device-width, inital-scale=1.0">
        <link href="/stylesheets/website.css" rel="stylesheet" type="text/css">
        <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.gstatic.com">

    </head>

    <body>
    <div id="container">

        <header>
            <div id=titleContainer>
                <h1>Elanco Receipt Recogniser</h1>       
                <img id="logoPreview" src="/images/elancoLogo.png" alt="Elanco Logo">
            </div>       
        </header>

        <section id=h2Section>
            <h2>Upload image of a receipt that would wish to claim rebate from</h2>
        </section>
        
            <input type="file" name="inpFile" id="inpFile">
            <div class="image-preview" id="imagePreview">
                <img src="" alt="Image Preview" class="image-preview__image">
                <span class="image-preview__default-text">
                    <p>Image Preview</p> 
                </span>
            </div>

        <section>
            <button type="button" id="table-button">Submit</button>
            <p id="tableBtnText">No table created, yet.</p>
        </section>

        <section id="tableHolder">
            <table id="receiptTable">
                <!-- This table is used to add and remove values from -->
            </table>
        </section>

        <section>
            <button type="button" id="save-button">Save the current table</button>
        </section>

        <footer>
            <h2>Footer section for contact details of Elanco and possible "<a href="/howto">how to use</a>" section</h2>
        </footer>

    </div>
    </body>
    
    <script type="text/javascript" src="/javascript/index.js"></script>
    <script type="text/javascript" src="/javascript/JsonToTable.js"></script>

</html>