html, body{
  width:100%;
  height:100%;
  margin: 0;
  padding: 0;
}

body{
    font-family: Arial, Helvetica,'Roboto', sans-serif;
    font-size: 16px; 
    display: block;
    text-align: center;
    background-color: gray;
}

#container{ 
  display: flex;
  flex-direction: column;
  width:100%;
  margin-left:auto;
  margin-right:auto;
  margin-top:0px;
  min-width:400px;
  max-width: 1000px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  background-color:#f2f2f2;
  border-right:2px solid #000;
  border-left:2px solid #000;
  border-bottom: 2px solid #000;
}

#titleContainer{
  margin-right: 5px;
  padding: 1px;
  display:block;
	background-color:#007dc3;
	border-radius:8px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	justify-content: space-between;
  font-size: 20px;
  align-content: center;
}


#logoPreview {
  display:none;
}

#h2Section{
	padding:0 10px 10px 0;
  font-size: 18px;
}

#inpFile{
  padding: 40px;
  align-self: center;
}

/*drag and drop*/
#drop-area {
  display: none;
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 50%;
  font-family: sans-serif;
  margin: 10px auto;
  padding: 20px;
}
#drop-area.highlight {
  border-color: #007dc3;
}
.my-form {
  margin-bottom: 10px;
}
/*#gallery {
  margin-top: 10px;
}
#gallery img {
  width: 150px;
  margin-bottom: 10px;
  margin-right: 10px;
  vertical-align: middle;
}*/
#fileElem {
  display: none;
}
/*end*/


.image-preview{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 100%;
  border: 2px solid #dddddd;
  margin-top: 15px;
  margin-bottom: 15px;;
  /*Default text*/
  display: flex;
  text-align: center;
  justify-content: center;
  font-weight: bold;
  color: #cccccc;
}

.image-preview img{
  max-width:100%;
  max-height:100%;
}

.image-preview__image{
  display:none;
}
.image-preview__default-text{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#submitSection{
  padding-bottom: 8px;
}

/*table stuff*/
  #receiptTable{
    margin-left: auto;
    margin-right: auto;
    border: 2px;
  }
  .tableElements{
    margin-left: auto;
    margin-right: auto;
    align-content: center;
    padding: 10px;
  }
  .tableElements tbody{
    margin-left: auto;
    margin-right: auto;
  }

  .tableElements tbody tr{
    display: flex; 
    flex-direction: column;
    padding-bottom: 10px;
  }

/*end of table stuff*/

#loadingSwirl{
  height: 100px;
  width: 100px;
  display:none;
  margin-left: auto;
  margin-right: auto;

}

#saveSection{
  padding-top: 8px;
}

footer{
	border:2px solid black;
	margin:20px 10px 10px 0;
	clear:both;	
	font-size:12px;
	text-align:center;
	font-style:italic;
}
#signature{
  padding-top: 10px;
  margin-top: 5px;
  color: #444444;

}

@media only screen and (min-width: 768px){
  #titleContainer{
    padding-left: 10px;
    display:flex;
    
    border-style: none;
  }
  #logoPreview {
    display:flex;
    height: auto; 
    width: auto; 
    max-width: 20%; 
    max-height: auto;
    padding:10px;
  }
  #drop-area{
    display: block;
  }
  #receiptTable{
    border: 2px;
    width: 100%; 
    border-collapse: collapse;
  }
  .tableElements tbody tr{
    justify-content: center;
    display: flex; 
    flex-direction:row;
    padding-bottom: 2px;
  }
  .image-preview img{
    max-width:50%;
    max-height:50%;
  }
}


/*
#imagePreview {
  border: 2px dashed #ccc;
  border-radius: 20px;
  width: 480px;
  font-family: sans-serif;
  margin: 100px auto;
  padding: 20px;
}

#imagePreview.highlight {
  border-color:purple;
}
*/